 @tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');
 /*html{
 
 */
/* Custom styles */
 .APP {
  background-image: url('../../public/carwash2.jpg');
  height: 95vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
}
 @media(max-width:728px){
  .APP{
    height: 80vh;
  }
  .servicesheading{
    margin-top: 20px;
  }
 }

/*.mobile-menu {
  background-color: #fffcfb;
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #000000;
} 

/* Text outline for better visibility */
/* .text-outline {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-center-override {
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.mainheading {
  margin-top: 120px;
  font-size: 40px;
  color: #000000;
}

.nextheading {
  margin-top: 80px;
  font-size: 70px;
  font-weight: 600;
  color: #030100;
}

.booknow-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.booknow {
  color: #fff;
  height: 45px;
  width: 250px;
  background-color: #d32f2f;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 80px;
  margin-bottom: 80px;
}

.booknow:hover {
  background-color: #ffffff;
  color: #d32f2f;
}

.services {
  background-color: #fff;
  font-family: 'Work Sans', sans-serif;
}

.servicesheading {
  margin-top: 120px;
  text-align: start;
  margin-left: 40px;
  font-size: 30px;
  font-weight: 500;
  color: #000000;
}

.servicestext {
   margin-top: 30px;
   margin-left: 40px;
   font-size:15px ;
}

.service-subheading{
  margin-top: 40px;
  text-align: start;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

.servicesimage{
  margin-top: 150px;
  padding-left: 60px;
  margin-bottom: 300px;
}  */

.image{
  width: 80%;
  margin-left: 40px;
  margin-bottom: 30px;
}

.secondslide{
  background-image: url('../../public/backgroundimage.jpg');
  height: 85vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}