/* styles.css */
.slider-container {
    position: relative;
    height: 100vh; /* Full height for the slider */
    overflow: hidden; /* Hide overflow to prevent scrollbars */
  }
  
  .slide-enter {
    transform: translateX(100%);
    opacity: 0;
  }
  
  .slide-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 500ms ease-in, opacity 500ms ease-in;
  }
  
  .slide-exit {
    transform: translateX(0);
    opacity: 1;
  }
  
  .slide-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 500ms ease-in, opacity 500ms ease-in;
  }
  
  .toggle-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }